.App {
  height: 100vh;
 display: flex;
 gap: 100px;
 align-items: center;
 justify-content: center;
 background-color: #edde9c;
}


.bord{
  
 height: 700px;
  width: 700px;
  
}
.bordBorder{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 750px;
  background-color: white;
  border: black solid 1px;
  box-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
  2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
  3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
  5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
  6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
  8px 7px 0px #5dabcd, 2px 2px 2px rgba(125, 170, 208, 0);
}
