.profiles{
    height: 80%;
    width: 100%;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.profileImg{
    border: black solid 1px;
    width: 150px;
    height: 150px;
}
.menü{
margin-left: 50px;
display: flex;
flex-wrap: wrap;
height: 90vh;
justify-content: center;
}