.App {
  height: 100vh;
 display: flex;
 gap: 100px;
 align-items: center;
 justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bord{
  height: 845px;
  width: 845px;
  border: 25px solid lightslategrey;
}
